In [2]:
import pandas as pd

dfMovies = pd.read_csv("movies.csv")
dfRatings = pd.read_csv("ratings.csv")
dfTags = pd.read_csv("tags.csv")
display(dfMovies)
display(dfRatings)
display(dfTags)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [ ]:
import pandas as pd
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split

dfRatings = pd.read_csv("ratings.csv")
dfMovies = pd.read_csv("movies.csv")

reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(dfRatings[['userId', 'movieId', 'rating']], reader)

trainset, testset = train_test_split(data, test_size=0.2)

model = SVD()

model.fit(trainset)

predictions = model.test(testset)

def recommend_items_for_user(userId, model, dfMovies, num_recommendations=10):
    unrated_items = set(dfMovies['title']) - set(dfRatings[dfRatings['userId'] == userId]['movieId'])
    predictions = [(item, model.predict(userId, item).est) for item in unrated_items]
    recommendations = sorted(predictions, key=lambda x: x[1], reverse=True)[:num_recommendations]
    return [item[0] for item in recommendations]


full_trainset = data.build_full_trainset()
full_model = SVD()
full_model.fit(full_trainset)

user_id_to_recommend = "3"
recommended_items = recommend_items_for_user(user_id_to_recommend, full_model, dfMovies)
print(f"Recommended items for user '{user_id_to_recommend}':")
print(recommended_items)

Recommended items for user '3':
['Hustle & Flow (2005)', 'Coyote Ugly (2000)', 'Love Bug, The (1969)', 'Dr. Goldfoot and the Bikini Machine (1965)', 'Iron Will (1994)', 'Futurama: Into the Wild Green Yonder (2009)', 'Kizumonogatari Part 1: Tekketsu (2016)', 'Celtic Pride (1996)', "Pete's Dragon (2016)", 'Man Vanishes, A (Ningen Johatsu) (1967)']

In [1]:
import pandas as pd
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split

dfBooks = pd.read_csv("Books.csv", usecols = ['ISBN','Book-Title'])
dfRates = pd.read_csv("Ratings.csv")

# display(dfBooks)
# display(dfRates)

reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(dfRates[['User-ID', 'ISBN', 'Book-Rating']], reader)

trainset, testset = train_test_split(data, test_size=0.2)

model = SVD()

model.fit(trainset)

predictions = model.test(testset)

def recommend_items_for_user(UserID, model, dfBooks, num_recommendations=10):
    unrated_items = set(dfBooks['Book-Title']) - set(dfRates[dfRates['User-ID'] == UserID]['ISBN'])
    predictions = [(item, model.predict(UserID, item).est) for item in unrated_items]
    recommendations = sorted(predictions, key=lambda x: x[1], reverse=True)[:num_recommendations]
    return [item[0] for item in recommendations]

full_trainset = data.build_full_trainset()
full_model = SVD()
full_model.fit(full_trainset)
user_id_to_recommend = "3"
recommended_items = recommend_items_for_user(user_id_to_recommend, full_model, dfBooks)
print(f"Recommended items for user '{user_id_to_recommend}':")
print(recommended_items)

a
Recommended items for user '3':
['Seize the Dawn', 'The Tao of Cow: What Cows Teach Us', "Howling at the Hauntlys' (Bailey City Monsters , No 2)", 'A Medieval Home Companion: Housekeeping in the Fourteenth Century', 'Diamond Cut Diamond (Harlequin Romance)', 'Four Corners of Night', 'Cupid.Com', 'A Time to Grieve : Meditations for Healing After the Death of a Loved One', 'Meet the Stars of Popular', 'The Double Dabble Surprise (The Cul-De-Sac Kids)']

In [1]:
import pandas as pd
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split

# Load user-item interactions dataset
dfBooks = pd.read_csv("Books.csv", usecols = ['ISBN','Book-Title'])
dfRates = pd.read_csv("Ratings.csv")
dfRatings = pd.read_csv("ratings.csv")
dfMovies = pd.read_csv("movies.csv")

reader = Reader(rating_scale=(1, 5))
dataBooks = Dataset.load_from_df(dfRates[['User-ID', 'ISBN', 'Book-Rating']], reader)
dataMovies = Dataset.load_from_df(dfRatings[['userId', 'movieId', 'rating']], reader)

trainsetBooks, testsetBooks = train_test_split(dataBooks, test_size=0.2)
trainsetMovies, testsetMovies = train_test_split(dataMovies, test_size=0.2)

modelBooks = SVD()
modelMovies = SVD()

modelBooks.fit(trainsetBooks)
modelMovies.fit(trainsetMovies)


predictionsB = modelBooks.test(testsetBooks)
predictionsM = modelMovies.test(testsetMovies)


def recommend_movies_for_user(userId, model, dfMovies, num_recommendations=10):
    unrated_items = set(dfMovies['title']) - set(dfRatings[dfRatings['userId'] == userId]['movieId'])
    predictions = [(item, model.predict(userId, item).est) for item in unrated_items]
    recommendations = sorted(predictions, key=lambda x: x[1], reverse=True)[:num_recommendations]
    return [item[0] for item in recommendations]

def recommend_books_for_user(UserID, model, dfBooks, num_recommendations=10):
    unrated_items = set(dfBooks['Book-Title']) - set(dfRates[dfRates['User-ID'] == UserID]['ISBN'])
    predictions = [(item, model.predict(UserID, item).est) for item in unrated_items]
    recommendations = sorted(predictions, key=lambda x: x[1], reverse=True)[:num_recommendations]
    return [item[0] for item in recommendations]

full_trainsetMovies = dataMovies.build_full_trainset()
full_modelMovies = SVD()
full_modelMovies.fit(full_trainsetMovies)
full_trainsetBooks = dataBooks.build_full_trainset()
full_modelBooks = SVD()
full_modelBooks.fit(full_trainsetBooks)

user_id_to_recommend = "5"
recommended_itemsM = recommend_movies_for_user(user_id_to_recommend, full_modelMovies, dfMovies)
print(f"Recommended Movies for user '{user_id_to_recommend}':")
print(recommended_itemsM)
recommended_itemsB = recommend_books_for_user(user_id_to_recommend, full_modelBooks, dfBooks)
print(f"Recommended Books for user '{user_id_to_recommend}':")
print(recommended_itemsB)

Recommended Movies for user '5':
['Grandmaster, The (Yi dai zong shi) (2013)', 'Exit Wounds (2001)', 'Hardware (1990)', 'Dragon Ball Z: Battle of Gods (2013)', 'Uncommon Valor (1983)', 'Jurassic Park (1993)', 'Rock of Ages (2012)', 'Daddy Day Care (2003)', 'Octopussy (1983)', 'Bushwhacked (1995)']
Recommended Books for user '5':
['A Romantic Way to Die (Worldwide Library Mysteries)', 'Dead Certain   Cherokee Corners (Silhouette Intimate Moments)', 'LAST SEEN ALIVE', "Roald Dahl's Tales of the Unexpected", 'Saratoga Swimmer', 'Her Bodyguard (Harlequin American Romance, No. 543)', 'To Reach the Clouds: My High Wire Walk Between the Twin Towers', 'Advise and Consent', 'Moses and Monotheism', 'The Gingerbread Boy (Fairy Tale Classics Storybook)']